*{
    
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    
    background: url(images/extra/funky-lines.png) fixed #fff;
    font-size: 15px;
}

section.web{
    
    width: 960px;
    margin: auto;
    background: #fff;
}

div.header {
    background: #da9a28;
    width: 960px;
    height: 90px;
    overflow: hidden;
    margin: auto;
}

div.header .logo {
    width: 450px;
    float: left;
}

div.header .logo img {
    width: 80px;
    margin-left: 50px;
    padding-top: 5px;
}

span.logo_txt {
    color: #cacaca;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: -17px;
    font-weight: 700;
    box-shadow: 45px 7px 75px #555;
    text-shadow: 3px 2px #555;
}

div.header .social {
    width: 480px;
    float: right;
    margin-top: 8px;
    text-align: center;
}

div.header .social img{
    
    width: 50px;
    margin: 10px;
}

div.menu {
    height: 40px;
    background: #EAAF46;
}

div.menu ul {
    list-style: none;
    position: relative;
}

div.menu li {
    display: inline-block;
    padding: 7px 2px;
}

div.menu li a {
    background: #BA7F16;
    text-decoration: none;
    padding: 9px 15px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

a.cntc_a {
    padding: 7px 15px !important;
}

div.menu li a:hover,#active{
    
    color: #555;
    background: #ece72f;
}

div.menu ul li ul{
    
    position: absolute;
    left: -9999999px;
    z-index: 999;
    margin-top: 6px;
}
    
div.menu ul li:hover ul{
    
    left: 92px;
}

div.menu ul li ul li{
    
    display: flex;
    padding: 0px;
}

div.menu ul li ul li a{
    
    width: 200px;
    font-size: 15px;
}

div.menu ul li ul li:hover a{
    
    padding-left: 25px;
    transition: all 0.3s;
}


div.main_content {
    display: block;
    overflow: hidden;
    border: 1px solid #e6c068;
    padding: 5px;
}

div.left_content {
    width: 665px;
    padding: 15px;
    border: 1px solid #d2b593;;
    background: bisque;
    float: left;
    margin-top: 0px;
}

div.content_pst {
    padding-bottom: 50px;
    background-image: url(images/extra/visit-indonesia-year-logo.png);
    background-repeat: no-repeat;
    background-position: right;
}

div.left_content img {
    float: left;
    width: 275px;
    height: 200px;
    margin: 10px;
    margin-left: 0px;
    background: #d0d0d0;
    padding: 5px;
    border: 2px solid #969292;
    box-shadow: 2px 2px 8px #9c9b9b;
}

div.left_content h3 {
    border-bottom: 2px solid #fff;
    padding: 5px 15px;
    font-family: sans-serif;
    font-size: 20px;
    color: brown;
}

div.left_content p {
    margin-top: 10px;
    color: #464646;
    text-align: justify;
    font-size: 15px;
}

div.read_more {
    float: right;
    padding-top: 20px;
}

div.read_more a {
    text-decoration: none;
    color: brown;
    background: antiquewhite;
    padding: 5px;
    border: 1px solid #ce7c04;
}

div.right_content{
    width: 270px;
    padding: 15px;
    border: 1px solid #d2b593;;
    background: bisque;
    float: right;
}

div.right_content h3 {
    background: #EAAF46;
    padding: 7px;
    font-size: 18px;
    font-family: sans-serif;
    border-bottom: 2px solid #424242;
}

.footer {
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    background: black;
    color: #ddd;
    text-align: center;
    margin: 10px 0px;
}

.slider_sec {
    margin-bottom: 10px;
    box-shadow: 0px 7px 8px -5px #555;
}

div.content_lst ul{
    
    list-style: none;
}

div.content_lst ul li {
    display: block;
    border-bottom: 1px dashed red;
}

div.content_lst ul li:last-child {
    
    border-bottom: none;
}

div.content_lst ul li a{
    
    text-decoration: none;
    color: #866505;
}

div.content_lst ul li a:hover{
    
    color: #ff0052

}

/*-----------------Contact Section------------------*/
        
input.inpt_fld {
    width: 500px;
    border: none;
    background: #f5f4f3;
    padding: 5px;
    border-radius: 5px;
    font-family: monospace;
    margin: 10px 0px;
    font-size: 15px;
}

.txt_ara{
    
    padding: 10px;
    border-radius: 5px;
    background: #f5f4f3;
    font-size: 15px;
}

button.snd_btn {
    padding: 7px 50px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #dedede;
    background: #ff2393;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 340px;
    outline: none;
    font-size: 15px;
}

.lf_cntct{
    
    width: 250px;
    float: left;
    margin-top: 20px;
}

.rt_cntct{
    
    padding: 10px;
}

/*-----------------Contact Section End------------------*/



/*-----------------About Section------------------*/




div.img_sec .my_im {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin: 0;
}

div.img_sec {
    width: 200px;
    height: 120px;
    border: 1px solid #ddd;
    display: inline-flex;
    transition: all 1s;
    border-radius: 10px;
    margin-bottom: 20px;
}

div.img_sec img:hover{
    
    margin-left: 50px;
    transition: all 1s;
}


/*-----------------Swiper Section------------------*/


.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background: none;
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 230px;

}

div.swiper-slide .swipr_img {
    width: 180px;
    height: 230px;
    margin: 0;
    padding: 0;
    border: none;
}

.about {
    text-align: center;
    background: #fff;
    padding: 10px 0px;
    height: 285px;
}


h3.crs_nm {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 230px!important;
    font-size: 15px !important;
}

h5.crs_dsg {
    margin-top: -4px;
    font-size: 18px;
}

.swiper_crush {
    
    height: 380px;
}

/*-----------------Swiper Section End------------------*/


.aboutsection {
    text-align: center;
    font-size: 42px;
    color: green;
	margin-bottom: 10px;
	margin-top:10px;
	padding:20px 0px;
}


	
.imgnahid {
    width: 470px;
    height: 300px;
    overflow: hidden;
    margin: auto;
    border: 3px solid #ddd;
    background: #ddd;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px -1px black;
}

.desnahid {line-height:25px;}


.desnahid {
    font-size: 14px;
    padding: 10px;
    font-family: sans-serif;
    color: orange;
	text-align:center;
}

.desnahid b {
    color: red;
    font-size: 17px;
    border-bottom: 2px solid #555;
    padding: 10px;
    display: block;
    text-align: center;
}

img.my_pc_abt {
    width: 470px !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 300px !important;
    display: block !important;
}

/*-----------------About Section End------------------*/


/*-----------------T & C Section------------------*/

h3.hd_lin {
    text-align: center;
    font-weight: 800;
    font-size: 30px !important;
    color: #1a90a2 !important;
}

p.terms {
    padding: 20px;
    font-size: 13px !important;
    line-height: 30px;
    color: #7d7d7d !important;
}


div.left_content img.tcondition {
    width: 635px;
    border: none;
    margin: 50px 0px 50px 0px;
    box-shadow: 4px 6px 14px #555;
    padding: 0;
    height: 300px;
}

/*-----------------Footer Section------------------*/

hr {
    background: cornsilk;
}

span.foot_txt {
    margin-top: -8px;
    display: block;
    padding: 7px;
}

img.fxd_im {
    width: 70px;
}

.fxd_icon {
    height: 100px;
    width: 80px;
    position: fixed;
    left: 0px;
    top: 170px;
}



/*-----------------Short & Filter Section------------------*/

